@model dynamic
<h2>Statusi i Vendparkimeve</h2>
<table border="1" cellpadding="5">
    <tr><th>Total Spots</th><td>@Model.TotalSpots</td></tr>
    <tr><th>Reserved Spots</th><td>@Model.ReservedSpots</td></tr>
    <tr><th>Regular Spots</th><td>@Model.RegularSpots</td></tr>
    <tr><th>Regular Free</th><td>@Model.RegularFreeSpots</td></tr>
    <tr><th>Regular Occupied</th><td>@Model.RegularOccupiedSpots</td></tr>
    <tr><th>Reserved Free</th><td>@Model.ReservedFreeSpots</td></tr>
</table>